<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}"  crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Brian Wachira</title>
</head>
<body>

<section class="home">
    <div class="home-container">
        <img src="static/profile-avatar.png" alt="profile-avatar" class="profile-avatar">

        <div class="profile-desc">
            <h1 > Hi, I am Brian.</h1>
            <p>I am developer, technical writer and at times I like to draw. Today I decided to play around with a
                bit of html, css and Python's Flask micro framework to build a simple portfolio site that is
            served by a flask server. Flask documentation was super helpful plus a couple of Youtube tutorials got me going well. </p>
        </div>


    </div>
</section>
</body>
</html>